body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
  
#wheel {
    width:500px;
    height: 500px;
    text-align: center;
    position: relative; 
}

#pointer {
    position: absolute;
    width: auto; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid black;
    top: 50%;
    left: 100%;
    /*transform-origin: center center;*/
    transform: translate(-50%, -50%) rotate(90deg);
}

#canvas {
    width:500px;/*496*/
    height:500px;/*492*/
    border: 0px solid #000;
    border-radius: 50%;
}

button {
    width: 85px;
    margin-top: 0px;
    padding: 10px 0px;
    font-size: 16px;
    cursor: pointer;
}

#spin {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #8b93f3a1;
    color: #fff;
    font-size: 14px;
    line-height: 0px;
    text-align: center;
    border: none;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

#mainContainer {
    display: flex;
    flex-direction: row-reverse;
}

#listContainer {
    flex: 1;
    padding: 20px;
    display: block;
    height: 550px;
    width: 300px;
}

#imageContainer {
    flex: 1;
    padding: 20px;
    width: 300px;
    height: 550px;
}

img {
    background-color: #ffffff00;
}

#wheelContainer {
    display: grid;
    flex: 2;
    padding: 20px;
}


#listInput {
    margin-top: 20px;
}

#listForm {
    display: flex;
    flex-direction: column;
}

#list {
    margin: 10px 0;
    height: 450px;
    min-width: 250px;
    max-width: 300px;
    min-height: 125px;
    max-height: 600px;
}

#mainContainer {
    display: flex;
}

#listContainer {
    flex: 1;
    padding: 20px;
}

/* 保持之前的 CSS 不變 */
#listInput {
    margin-top: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
  
.modal-content {
    position: absolute;
    left: 35%;
    top: 40%;
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 0% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 200px;
    justify-content: center;
    align-items: center;
}
  
#toggleListBtn{
    display: contents;
    width: 120px;
    height: 40px;
}
