body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: "Lato", "PingFang TC", "Helvetica Neue", Helvetica, "微軟正黑體", "新細明體", Arial, sans-serif;
}
.top-bar {
    display: flex;
    align-items: center;
    background-color: #f8f9fa; /* 淺灰背景色 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    height: 50px; /* 設置一個固定的高度 */
    margin-bottom: 25px;
}

.social-link {
    display: inline-block;
    position: relative;
    margin: 0 15px;
    text-decoration: none; /* 移除底線 */
}

.social-link img {
    width: 30px; /* LOGO大小 */
    height: auto;
    transition: transform 0.3s ease;
}

.social-link:hover img {
    transform: scale(1.1); /* 懸停時放大LOGO */
}

.social-link span {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
    color: #007bff; /* 文字顏色 */
    white-space: nowrap; /* 避免文字換行 */
}

.social-link:hover span {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.contact-message {
    font-size: 20px;
    color: #000;
    background-color: #e3f3ff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px; /* 兩側的padding */
    height: 100%; /* 高度設為100%以填滿.top-bar的高度 */
}

.extra-links {
    margin-right: 20px;
    margin-left: auto; /* 將額外連結推向右側 */
    display: flex;
    align-items: center;
}

.extra-links a {
    text-decoration: none;
    color: #007bff; /* 設定連結顏色 */
    margin-left: 15px; /* 設定連結間距 */
    transition: color 0.3s ease-in-out;
}

.extra-links a:hover {
    color: #0056b3; /* 鼠標懸停時的顏色 */
}

.social-link, .extra-links {
    display: flex;
    align-items: center;
    height: 100%; /* 確保填滿.top-bar的高度 */
}

#wheel {
    width:500px;
    height: 500px;
    text-align: center;
    position: relative; 
}

#pointer {
    position: absolute;
    width: auto; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid black;
    top: 50%;
    left: 100%;
    /*transform-origin: center center;*/
    transform: translate(-50%, -50%) rotate(90deg);
}

#canvas {
    width:500px;/*496*/
    height:500px;/*492*/
    border: 0px solid #000;
    border-radius: 50%;
}

button {
    width: 85px;
    margin-top: 0px;
    padding: 10px 0px;
    font-size: 16px;
    cursor: pointer;
}

#spin {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #8b93f3a1;
    color: #fff;
    font-size: 14px;
    line-height: 0px;
    text-align: center;
    border: none;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

#mainContainer {
    display: flex;
    flex-direction: row-reverse;
}

#listContainer {
    flex: 1;
    padding: 20px;
    display: block;
    height: 550px;
    width: 300px;
}

#imageContainer {
    flex: 1;
    padding: 20px;
    width: 300px;
    height: 550px;
}

img {
    background-color: #ffffff00;
}

#wheelContainer {
    display: grid;
    flex: 2;
    padding: 20px;
}


#listInput {
    margin-top: 20px;
}

#listForm {
    display: flex;
    flex-direction: column;
}

#list {
    margin: 10px 0;
    height: 450px;
    min-width: 250px;
    max-width: 300px;
    min-height: 125px;
    max-height: 600px;
}

#mainContainer {
    display: flex;
}

#listContainer {
    flex: 1;
    padding: 20px;
}

/* 保持之前的 CSS 不變 */
#listInput {
    margin-top: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
  
.modal-content {
    position: absolute;
    left: 35%;
    top: 40%;
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 0% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 200px;
    justify-content: center;
    align-items: center;
}
  
#toggleListBtn{
    display: contents;
    width: 120px;
    height: 40px;
}
