body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
#wheel {
    width:500px;
    height: 500px;
    text-align: center;
    position: relative; 
}

#pointer {
    position: absolute;
    width: auto; 
    height: 0; 
    border-left: 10px solid transparent; /* 左边透明边框 */
    border-right: 10px solid transparent; /* 右边透明边框 */
    border-top: 20px solid black; /* 底部黑色边框，形成朝上的三角形 */
    top: 50%; /* 根据需要调整，确保三角形位于转盘边缘 */
    left: 100%;
    /*transform-origin: center center;*/
    transform: translate(-50%, -50%) rotate(90deg); /* 水平居中 */
  }

#canvas {
    width:500px;/*496*/
    height:500px;/*492*/
    border: 0px solid #000;
    border-radius: 50%;
}

button {
    margin-top: 0px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#spin {
    position: absolute;
    width: 80px; /* 根据需要调整 */
    height: 80px; /* 根据需要调整 */
    border-radius: 50%;
    background-color: #8b93f3a1; /* 根据需要调整 */
    color: #fff;
    font-size: 14px;
    line-height: 0px; /* 与按钮高度相同，以垂直居中文本 */
    text-align: center;
    border: none;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

#mainContainer {
  display: flex;
}

#listContainer {
  flex: 1; /* 調整清單區域的大小 */
  padding: 20px; /* 為了美觀，給清單區域一些內邊距 */
}

#wheelContainer {
  flex: 2; /* 調整轉盤遊戲區域的大小 */
  padding: 20px; /* 為了美觀，給轉盤遊戲區域一些內邊距 */
}

/* 保持之前的 CSS 不變 */
#listInput {
  margin-top: 20px;
}

#listForm {
  display: flex;
  flex-direction: column;
}

#list {
  margin: 10px 0;
  height: 450px;
  min-width: 250px;
  max-width: 300px;
  min-height: 125px;
  max-height: 600px;
  
}

#mainContainer {
    display: flex;
}

#listContainer {
flex: 1; /* 調整清單區域的大小 */
padding: 20px; /* 為了美觀，給清單區域一些內邊距 */
}

#wheelContainer {
flex: 2; /* 調整轉盤遊戲區域的大小 */
padding: 20px; /* 為了美觀，給轉盤遊戲區域一些內邊距 */
}

/* 保持之前的 CSS 不變 */
#listInput {
margin-top: 20px;
}

.modal {
    display: none; /* 隱藏彈出層 */
    position: fixed; /* 固定定位 */
    z-index: 1; /* 置於頂層 */
    left: 0;
    top: 0;
    width: 100%; /* 全屏寬 */
    height: 100%; /* 全屏高 */
    overflow: auto; /* 啟用滾動條 */
    background-color: rgb(0,0,0); /* 背景顏色 */
    background-color: rgba(0,0,0,0.4); /* 背景顏色，帶有透明度 */
  }
  
  /* 彈出內容的樣式 */
  .modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 15%;
    justify-content: center;
    align-items: center;
  }
  
  /* 關閉按鈕的樣式 
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }*/
